---
import ButtonGradient from "./ButtonGradient.astro";

import "../css/navbar.css";
---


<section class="block py-2 font-inter text-black">
  <nav class="md:container mx-auto px-10">
    <div class="flex items-center justify-between">
      <div class="flex-col mx-auto lg:flex lg:mx-0">
        <a href="/">
          <div class="mx-auto w-80 pt2 sm:mx-0">
            <img src="/logo.svg" alt="">
          </div>
        </a>
        <ul class="menu font-semibold text-black">
          <li>
            <a href="/">
              <div class="mx-auto w-80 pt2 sm:mx-0 flex justify-center my-4">
                <img src="/logo.svg" alt="">
              </div>
            </a>
          </li>
          <li>
            <a class="hover:font-bold text-xl menuItem" href="/AboutUs"
              >About Us</a
            >
          </li>
          <li>
            <a class="hover:font-bold text-xl menuItem" href=""
              >Innovative Project</a
            >
          </li>
          <li>
            <a class="hover:font-bold text-xl menuItem" href=""
              >Social Media</a
            >
          </li>
          <li>
            <a
              class="hover:font-bold text-xl menuItem"
              href="/posts">Blog</a
            >
          </li>
        </ul>
        <div>
        <button
          class="flex mx-auto text-4xl justify-center pt-3 lg:hidden text-white hamburger"
        >
          <i class="menuIcon"
            ><img src="/hamburgerIcon.svg" /></i
          >
          <i class="closeIcon"
            ><img src="/closeIcon.svg" /></i
          >
        </button>
        </div>
      </div>
      <div class="hidden lg:flex space-x-6 text-primary1 font-light text-md">
        <a class="hover:text-primary hover:font-bold transition-all ease-in-out" href="/AboutUs">About Us</a>
        <a class="hover:text-primary hover:font-bold transition-all ease-in-out" href="">Innovative Project</a>
        <a class="hover:text-primary hover:font-bold transition-all ease-in-out" href="">Social Media</a>
        <a class="hover:text-primary hover:font-bold transition-all ease-in-out" href="/posts">Blog</a>
      </div>

      <div class="hidden lg:block m-3 w-40 text-center">
        <ButtonGradient text="Donate" href="https://www.spleis.no/project/306113" />
      </div>
    </div>
  </nav>
</section>

<script>
  const menu = document.querySelector(".menu");
  const menuItems = document.querySelectorAll(".menuItem");
  const hamburger = document.querySelector(".hamburger");
  const closeIcon = document.querySelector(".closeIcon");
  const menuIcon = document.querySelector(".menuIcon");
  function toggleMenu() {
    if (menu.classList.contains("showMenu")) {
      menu.classList.remove("showMenu");
      closeIcon.style.display = "none";
      menuIcon.style.display = "block";
    } else {
      menu.classList.add("showMenu");
      closeIcon.style.display = "block";
      menuIcon.style.display = "none";
    }
  }
  hamburger.addEventListener("click", toggleMenu);
</script>