---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="text-black font-inter lg:container mx-auto px-10 text-center">
    <h1 class="font-extrabold pt-40 text-6xl">
      Innovating the
      <span
        class="font-bold gradient"
        >future</span
      >
    </h1>

    <h2 class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h2>
  </section>
</MainLayout>
