.font-inter {
    font-family: 'Inter';

}

.gradient {

    font-family: "Inter";
    background: linear-gradient(to right, #c084fc, #db2777);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}